.hidden {
  display: none; }

.error {
  outline: 2px solid red; }

#blured {
  background-color: var(--light-cyan);
  color: var(--grayish-cyan);
  opacity: 0.2;
  cursor: default; }

.txt-error {
  color: red !important; }
