@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
body {
  font-family: "Space Mono", monospace;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-grayish-cyan); }

main {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

h1 {
  margin-bottom: 5rem; }

.content {
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  width: 50rem;
  justify-content: space-between;
  padding: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --light-cyan: hsl(172, 67%, 75%);
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%); }

.input--container {
  position: relative; }
  .input--container img {
    position: absolute;
    top: 65%;
    left: 1rem; }

.bottom__input--container {
  position: relative; }
  .bottom__input--container img {
    position: absolute;
    left: 1rem;
    top: 30%; }

h2,
label {
  color: var(--dark-grayish-cyan);
  font-size: 0.85rem;
  display: inline-block;
  margin-bottom: 1rem; }

#bill-amount,
.peoples {
  font-family: inherit;
  background-color: var(--very-light-grayish-cyan);
  border: none;
  border-radius: 3px;
  color: var(--very-dark-cyan);
  text-align: end;
  font-size: 1.5rem;
  font-weight: 700;
  height: 2.5rem;
  width: 90%; }
  #bill-amount:focus, #bill-amount:hover,
  .peoples:focus,
  .peoples:hover {
    outline: 2px solid var(--strong-cyan);
    cursor: pointer; }

#bill-amount::placeholder,
.peoples::placeholder {
  color: var(--grayish-cyan); }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0.4rem; }

.selection-container {
  width: 50%; }

.buttons-container {
  padding: 2rem 0;
  width: 90%; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

button,
#number-input {
  font-family: inherit;
  width: 30%;
  height: 2.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  border: none;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 5px; }

button:hover {
  background-color: var(--light-cyan);
  cursor: pointer;
  color: black; }

button:focus {
  background-color: var(--strong-cyan);
  color: black; }

#number-input {
  background-color: var(--very-light-grayish-cyan);
  text-align: center;
  color: var(--very-dark-cyan); }
  #number-input:hover, #number-input:focus {
    outline: 2px solid var(--strong-cyan); }
  #number-input:focus {
    text-align: end; }

.hidden {
  display: none; }

.error {
  border: 2px solid red; }

.results {
  background-color: var(--very-dark-cyan);
  border-radius: 14px;
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 23.5rem;
  padding: 1.2rem 0; }

.tip-amount {
  display: flex;
  justify-content: space-around;
  margin-top: 2.7rem; }

p {
  font-size: 0.725rem;
  color: var(--grayish-cyan); }

strong {
  color: white;
  font-size: 0.9rem; }

.amount {
  color: var(--strong-cyan);
  font-size: 2.5rem;
  margin-top: -1rem; }

#reset {
  background-color: var(--strong-cyan);
  width: 80%;
  margin: 6.5rem auto 0 auto;
  height: 2.7rem; }
  #reset:hover, #reset:active {
    background-color: var(--light-cyan); }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
