@media screen and (max-width: 750px) {
  .content {
    display: block;
    width: 100vw;
    padding:1.5rem;
  }

  h1 {
    margin: 0.5rem 0 2rem 0;
  }

  .bill,
  .people,
  .buttons-container {
    width: 100%;
  }

  button,
  .custom-input {
    width: 47.5%;
  }

  .selection-container,
  .results {
    width: 100%;
  }

  .selection-container { 
    padding: 2.5%;
  }

  .people {
    margin-bottom: 2rem;
  }

  .tip-amount {
    margin: 2rem;
  }

  .reset {
    margin: 0 auto;
  }
}
