.results {
  background-color: var(--very-dark-cyan);
  border-radius: 14px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}

.total-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2.7rem;
}

p {
  font-size: 0.725rem;
  color: var(--grayish-cyan);
}
strong {
  color: white;
  font-size: 0.9rem;
}

.tip, .final-bill {
  color: var(--strong-cyan);
  font-size: 2.5rem;
  margin-top: -1rem;
}

.reset {
  background-color: var(--strong-cyan);
  color: black;
  width: 80%;
  margin: 6.5rem auto 0 auto;
  height: 2.7rem;
  &:hover, &:active {
    background-color: var(--light-cyan);
  }
}

