
.input-label {
  display: flex;
  justify-content: space-between;
}

h2,
label {
  color: var(--dark-grayish-cyan);
  display: inline-block;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.bill,
.people {
  background-color: var(--very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  border: none;
  border-radius: 3px;
  color: var(--very-dark-cyan);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: end;
  height: 2.5rem;
  width: 90%;
  &:focus,
  &:hover {
    outline: 2px solid var(--strong-cyan);
    cursor: pointer;
  }
}

.bill{
  background-image: url('../../images/icon-dollar.svg');
}

.people{
  background-image: url('../../images/icon-person.svg');
}

.bill::placeholder,
.people::placeholder {
  color: var(--grayish-cyan);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0.4rem;
  -webkit-appearance: none;
}

.selection-container {
  width: 50%;
}

.buttons-container {
  padding: 2rem 0;
  width: 90%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button,
#custom-input {
  background-color: var(--very-dark-cyan);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-family: inherit;
  font-size: 1.125rem;
  height: 2.5rem;
  margin-bottom: 0.75rem;
  width: 31%;
}

button:hover {
  background-color: var(--light-cyan);
  color: black;
  cursor: pointer;
}

button:focus {
  background-color: var(--strong-cyan);
  color: black;
}

#custom-input {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  text-align: center;
  &:hover,
  &:focus {
    outline: 2px solid var(--strong-cyan);
  }
  &:focus {
    text-align: end;
  }
}


