body {
  font-family: "Space Mono", monospace;
  background-color: var(--blue);
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-grayish-cyan);
}

main {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 5rem;
}

.content {
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  width: 50rem;
  justify-content: space-between;
  padding: 2rem;
}
